{%- extends "base.html" %}

{% block title %}
Clinical Trial
{% endblock %}

{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
        </div>
    </div>
    {%- endif %}
    {%- endwith %}
    <div class="jumbotron">
        <h3>Clinical Trial {{ trial.nct_id }}</h3>
        <br/>
        <table>
            {% for key, value in trial.items() %}
            <tr>
                <th> {{ key }}</th>
                <td> {{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{%- endblock %}