{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block title %}
Clinical Trial Excursions
{% endblock %}

{% block content %}
<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div id="left_sidenav" class="col-sm-2 left sidenav">
            <button class="accordion">Fulltext</button>
            <div class="panel">
                <div class="row form-group">
                    <div class="col-sm-12 input-group select2-search">
                        <input class="form-control" id="fulltext" name="fulltext"
                               placeholder="Keyword or phrase" type="text" style="width: 100%;">
                    </div>
                </div>
            </div>

            <button class="accordion">Indexed Terms</button>
            <div class="panel">
                <div class="row form-group">
                    <div class="col-sm-12 input-group select2-bootstrap-prepend select2-bootstrap-prepend">
                        <select id="terms" class="form-control select2 select2-multiple wrap"
                                data-placeholder="Type Disease" multiple style="width: 100%;">
                        </select>
                    </div>
                </div>
            </div>

            <button class="accordion">Disease</button>
            <div class="panel">
                <div class="row form-group">
                    <div class="col-sm-12 input-group select2-bootstrap-prepend select2-bootstrap-prepend">
                        <select id="diseases" class="form-control select2 select2-multiple wrap"
                                data-placeholder="Type Disease" multiple style="width: 100%;">
                        </select>
                    </div>
                </div>
            </div>

            <button class="accordion">Biomarkers</button>
            <div class="panel">
                <div class="row form-group">
                    <div class="col-sm-12 input-group select2-bootstrap-prepend select2-bootstrap-prepend">
                        <select id="biomarkers" class="form-control select2 select2-multiple wrap"
                                data-placeholder="Type Biomarker" multiple style="width: 100%;">
                        </select>
                    </div>
                </div>
            </div>
            <!--
            <button class="accordion">Anatomic Sites</button>
            <div class="panel">
                <div class="row form-group">
                    <div class="col-sm-12 input-group select2-bootstrap-prepend select2-bootstrap-prepend">
                        <select id="anatomicsites" class="form-control select2 select2-multiple wrap"
                                data-placeholder="Type Anatomic Site" multiple style="width: 100%;">
                        </select>
                    </div>
                </div>
            </div>

            <button class="accordion">Drugs</button>
            <div class="panel">
                <div class="row form-group">
                    <div class="col-sm-12 input-group select2-bootstrap-prepend select2-bootstrap-prepend">
                        <select id="drugs" class="form-control select2 select2-multiple wrap"
                                multiple style="width: 100%;">
                        </select>
                    </div>
                </div>
            </div>

            <button class="accordion">Findings</button>
            <div class="panel">
                <div class="row form-group">
                    <div class="col-sm-12 input-group select2-bootstrap-prepend select2-bootstrap-prepend">
                        <select id="findings" class="form-control select2 select2-multiple wrap"
                                data-placeholder="Type Finding" multiple style="width: 100%;">
                        </select>
                    </div>
                </div>
            </div>

            <button class="accordion">Therapies</button>
            <div class="panel">
                <div class="row form-group">
                    <div class="col-sm-12 input-group select2-bootstrap-prepend select2-bootstrap-prepend">
                        <select id="therapies" class="form-control select2 select2-multiple wrap"
                                data-placeholder="Type Therapy" multiple style="width: 100%;">
                        </select>
                    </div>
                </div>
            </div>
            -->

            <button class="accordion">Structured Criteria</button>
            <div class="panel">
                <br/>
                <div class="row form-group">
                    <div class="col-sm-12 input-group ">
                        <div class="row">
                            <div class="col-sm-9">
                                Constrain Age Range<br/>
                                (<span id="age_min"/>0</span> - <span id="age_max">999</span>)
                            </div>
                            <div class="col-sm-3">
                                <input id="age-enabled" type="checkbox"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input id="age" type="text" data-slider-enabled="false"/>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-7">
                                <label for="accepts_healthy_volunteers_indicator">Accepts Healthy Volunteers</label>
                            </div>
                            <div class="col-sm-5 right">
                                <select id="accepts_healthy_volunteers_indicator"
                                        name="accepts_healthy_volunteers_indicator">
                                    <option selected="" value="NA">NA</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                <label for="gender">Gender</label>
                            </div>
                            <div class="col-sm-5 right">
                                <select id="gender" name="gender">
                                    <option selected="" value="Any">Any</option>
                                    <option value="Both">Both</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>

            <button class="accordion">Trial Phase</button>
            <div class="panel">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <label>Show only trials with:</label>
                        <div class="checkbox">
                            <label>
                                <input id="phasena" name="phase[]" type="checkbox"/>
                                Phase N/A
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="phase1" name="phase[]" type="checkbox">
                                Phase I (includes I_II)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="phase2" name="phase[]" type="checkbox">
                                Phase II (includes I_II and II_III)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="phase3" name="phase[]" type="checkbox">
                                Phase III (includes II_III)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="phase4" name="phase[]" type="checkbox">
                                Phase IV
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main" class="col-sm-10">
            <div class="jumbotron">
                <div class="row" style="font-size:15px;">
                    <div class="col-sm-4 left">
                        <span id="open_nav" style="cursor:pointer" onclick="openNav()">&#9776; Open Search</span>
                        <span id="close_nav" style="cursor:pointer" onclick="closeNav()">&#9776; Close Search</span>
                    </div>
                    <div class="col-sm-8 left">
                        <span><span id="records_total" role="status" aria-live="polite">0</span> Trials found</span>
                    </div>
                </div>
                <hr/>
                <table id="results" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>NCI&nbsp;ID</th>
                        <th>NCT&nbsp;ID</th>
                        <th>Phase</th>
                        <th>Start&nbsp;Date</th>
                        <th>Status</th>
                        <th>Official Title</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>NCI&nbsp;ID</th>
                        <th>NCT&nbsp;ID</th>
                        <th>Phase</th>
                        <th>Start&nbsp;Date</th>
                        <th>Status</th>
                        <th>Official Title</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-bs/css/dataTables.bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-bs/css/dataTables.bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-buttons-dt/css/buttons.dataTables.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('bower.static', filename='select2/dist/css/select2.min.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('bower.static', filename='select2-bootstrap-css/select2-bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='jstree/dist/themes/default/style.min.css')}}">

{% endblock %}

{% endblock %}
{% block scripts %}
{{super()}}

<script type="text/javascript"
        src="{{ url_for('bower.static', filename='bootstrap3-typeahead/bootstrap3-typeahead.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='jzip/jzip.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='pdfmake/build/pdfmake.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='pdfmake/build/vfs_fonts.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='seiyria-bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='select2/dist/js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search_utils.js') }}"></script>


<script>

    function openNav() {
        document.getElementById("left_sidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("open_nav").style.display = 'none';
        document.getElementById("close_nav").style.display = 'block';
    }

    function closeNav() {
        document.getElementById("left_sidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("open_nav").style.display = 'block';
        document.getElementById("close_nav").style.display = 'none';
    }
</script>

<script type="text/javascript">


    openNav(); // hides close button and opens search side nav

    function recalculateAccordionPanel() {
        $('.accordion.active').each(function (index, elem) {
            var panel = elem.nextElementSibling;
            panel.style.maxHeight = panel.scrollHeight + "px";
        })
    }

    $("#terms").select2({
        ajax: {
            minimumInputLength: 2,
            cache: true,
            url: "search_terms",
            contentType: "application/json",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term || 'a' // search term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (term) {
                        return {
                            text: term.term + ' (' + term.count + ' trials)',
                            id: term.term_type + '#' + term.codes
                        }
                    })
                };
            }
        },
    });

    $("#diseases").select2({
        ajax: {
            minimumInputLength: 2,
            cache: true,
            multiple: true,
            url: "search_diseases",
            contentType: "application/json",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term || 'Neoplasm' // search term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (term) {
                        return {
                            text: term.name,
                            id: term.code
                        }
                    })
                };
            }
        },
    });

    $("#biomarkers").select2({
        ajax: {
            minimumInputLength: 2,
            cache: true,
            multiple: true,
            url: "search_biomarkers",
            contentType: "application/json",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term || 'A' // search term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (term) {
                        return {
                            text: term.name,
                            id: term.code
                        }
                    })
                };
            }
        },
    });

    $("#anatomicsites").select2({
        ajax: {
            minimumInputLength: 2,
            cache: true,
            multiple: true,
            url: "search_anatomicsites",
            contentType: "application/json",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term || 'A'  // search term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (term) {
                        return {
                            text: term.name,
                            id: term.code
                        }
                    })
                };
            }
        },
    });

    $("#drugs").select2({
        ajax: {
            minimumInputLength: 2,
            cache: true,
            multiple: true,
            url: "search_drugs",
            contentType: "application/json",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term || '1'  // search term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (term) {
                        return {
                            text: term.name,
                            id: term.code
                        }
                    })
                };
            }
        },
    });

    $("#therapies").select2({
        ajax: {
            minimumInputLength: 2,
            cache: true,
            multiple: true,
            url: "search_therapies",
            contentType: "application/json",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term || 'A'  // search term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (term) {
                        return {
                            text: term.name,
                            id: term.code
                        }
                    })
                };
            }
        },
    });

    $("#findings").select2({
        ajax: {
            minimumInputLength: 2,
            cache: true,
            multiple: true,
            url: "search_findings",
            contentType: "application/json",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term || 'A'  // search term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (term) {
                        return {
                            text: term.name,
                            id: term.code
                        }
                    })
                };
            }
        },
    });


    $("#age").slider({
        step: 1,
        min: 0,
        max: 100,
        value: [0, 999],
        labelledby: ['age_min', 'age_max']
    });

    $('#age').on('slideStop', function (slider) {
        $('#age_min').text(slider.value[0]);
        $('#age_max').text(slider.value[1]);
        search_params['eligibility.structured.min_age_number_gte'] = slider.value[0];
        search_params['eligibility.structured.max_age_number_lte'] = slider.value[1];
        datatable.search(JSON.stringify(search_params)).draw();
    });


    $("#age-enabled").click(function () {
        if (this.checked) {
            // With JQuery
            $("#age").slider("enable");
            $("#age_max").text(100);
        }
        else {
            // With JQuery
            $("#age").slider("disable");
            $("#age_min").text(0);
            $("#age_max").text(999);
            $("#age").slider('refresh');
            delete search_params['eligibility.structured.min_age_number_gte'];
            delete search_params['eligibility.structured.max_age_number_lte'];
        }
        datatable.search(JSON.stringify(search_params)).draw();
    });

    var datatable = $('#results').DataTable({
        dom: 'Brtip',
        serverSide: true,
        ajax: {
            url: '/process_datatable_callback',
            type: 'POST'
        },
        order: [], //disables sorted infication by first column
        columns: [
            {data: "nci_id", name: "NCI-ID", orderable: false},
            {data: "nct_id", name: "NCT-ID", orderable: false},
            {data: "phase.phase", name: "Phase", orderable: false},
            {data: "start_date", name: "Start Date", orderable: false},
            {data: "current_trial_status", name: "Status", orderable: false},
            {data: "official_title", name: "Official Title", orderable: false}
        ],
        buttons: [
            {
                extend: 'copyHtml5'
            },
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });

    datatable.on('draw.dt', function () {
        $('#records_total').text(datatable.page.info()['recordsTotal']);
    });

    var search_params = {};

    $('#fulltext').keyup(function () {
        search_params['_fulltext'] = $(this).val();
        datatable.search(JSON.stringify(search_params)).draw();
    });

    $('#terms').on('change', function () { //TODO : add remove terms after deleting them
        recalculateAccordionPanel();
        var term = $(this).val();
        var terms = term.split('#');
        console.log(terms);
        if ('_diseases' == terms[0])  {
            delete terms[0];
            console.log(term);
            search_params['diseases.nci_thesaurus_concept_id'] = terms;
        } else if ('_biomarkers' == terms[0])  {
            delete terms[0];
            search_params['biomarkers.nci_thesaurus_concept_id'] = terms;
        }
        datatable.search(JSON.stringify(search_params)).draw();
    });

    $("#diseases").on('change', function () {
        recalculateAccordionPanel();
        search_params['diseases.nci_thesaurus_concept_id'] = $(this).val();
        datatable.search(JSON.stringify(search_params)).draw();
    });

    $("#biomarkers").on('change', function () {
        recalculateAccordionPanel();
        search_params['biomarkers.nci_thesaurus_concept_id'] = $(this).val();
        datatable.search(JSON.stringify(search_params)).draw();
    });

    $("#gender").on('change', function () {
        if ($(this).val() == 'Any') {
            delete search_params['eligibility.structured.gender'];
        } else {
            search_params['eligibility.structured.gender'] = $(this).val();
        }
        datatable.search(JSON.stringify(search_params)).draw();
    });

    $("#accepts_healthy_volunteers_indicator").on('change', function () {
        if ($(this).val() == 'NA') {
            delete search_params['accepts_healthy_volunteers_indicator'];
        } else {
            search_params['accepts_healthy_volunteers_indicator'] = $(this).val();
        }
        datatable.search(JSON.stringify(search_params)).draw();
    });

    $("[name='phase[]']").on('change', function () {
        var phases = [];
        if ($("#phasena").is(':checked')) {
            phases = phases.concat(['NA']);
        }

        if ($("#phase1").is(':checked')) {
            phases = phases.concat(['I', 'I_II']);
        }

        if ($("#phase2").is(':checked')) {
            phases = phases.concat(['I_II', 'II', 'II_III']);
        }

        if ($("#phase3").is(':checked')) {
            phases = phases.concat(['II_III', 'III']);
        }

        if ($("#phase4").is(':checked')) {
            phases = phases.concat(['IV']);
        }

        if (phases.length > 0) {
            search_params['phase.phase'] = phases;
        } else {
            delete search_params['phase.phase'];
        }
        datatable.search(JSON.stringify(search_params)).draw();
    });

</script>
<script>

    function openNav() {
        document.getElementById("left_sidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("open_nav").style.display = 'none';
        document.getElementById("close_nav").style.display = 'block';
    }

    function closeNav() {
        document.getElementById("left_sidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("open_nav").style.display = 'block';
        document.getElementById("close_nav").style.display = 'none';
    }
</script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }
</script>
{% endblock %}
