{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block title %}
Clinical Trial Excursions
{% endblock %}

{% block content %}
<div class="container">
    <div id="content" class="jumbotron">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group horizontal">
                    <input id="disease_codes" name="disease_codes" type="hidden" value="">
                    <input id="disease_names" name="disease_names" type="hidden" value="">
                    <strong>Search for: &nbsp; </strong>
                    <!--
                    <select id="dom" class="form-control">
                        <option></option>
                    </select>
                    -->
                    <label class="radio-inline"><input checked="checked" type="radio" id="disease"
                                                       name="dom">Disease</label>
                    <label class="radio-inline"><input type="radio" id="finding" name="dom">Finding</label>
                    <label class="radio-inline"><input type="radio" id="procedure" name="dom">Therapeutic
                        Procedure</label>
                    <label class="radio-inline"><input type="radio" id="diagnostic" name="dom">Diagnostic
                        Procedure</label>
                    <label class="radio-inline"><input type="radio" id="test" name="dom">Lab Test</label>
                    <label class="radio-inline"><input type="radio" id="drug" name="dom">Drug</label>
                    <label class="radio-inline"><input type="radio" id="biomarker" name="dom">Biomarker</label>
                    <br/><br/>
                    <input id="search_diseases" placeholder="Start typing a disease" class="form-control">
                </div>

                <div>
                    <strong>Search for term within the tree: </strong>
                    <input class="search-input form-control"/>
                </div>
                <br/>

                <div id="jstree"></div>
                <br/>
                <hr/>
                <div sstyle="text-align: center;">
                    <span><span id="records_total" role="status"
                                aria-live="polite">0</span> Trials found</span>
                </div>
                <br/>

                <table id="results" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>NCI&nbsp;ID</th>
                        <th>NCT&nbsp;ID</th>
                        <th>Phase</th>
                        <th>Start&nbsp;Date</th>
                        <th>Status</th>
                        <th>Official Title</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>NCI&nbsp;ID</th>
                        <th>NCT&nbsp;ID</th>
                        <th>Phase</th>
                        <th>Start&nbsp;Date</th>
                        <th>Status</th>
                        <th>Official Title</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block styles -%}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='jstree/dist/themes/default/style.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-bs/css/dataTables.bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-bs/css/dataTables.bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-buttons-dt/css/buttons.dataTables.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='bootstrap3-typeahead/bootstrap3-typeahead.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='jstree/dist/jstree.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='jzip/jzip.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='pdfmake/build/pdfmake.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='pdfmake/build/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search_utils.js') }}"></script>
<script type="text/javascript">

    var dom = 'disease';

    $('input[name="dom"]').change(function () {
        $('#search_diseases').attr("placeholder", "Start typing a " + this.id);
        $('#search_diseases').focus();
        dom = this.id;
    });

    $('#search_diseases').typeahead({
        source: function (query, process) {
            return $.get(get_callback_url(dom) + query, function (data) {
                var diseases = [];
                map = {};
                $.each(data, function (i, row) {
                    map[row.name] = row;
                    diseases.push(row.name);
                });
                return process(diseases);
            });
        },
        updater: function (item) {
            var dom = $('input[name="dom"]').id;
            update_tree(map[item].code, item, dom);
        },
        items: 20
    });


    $('.search-input').keyup(function () {
        var searchString = $(this).val();
        $('#jstree').jstree('search', searchString);
    });


    var datatable = $('#results').DataTable({
        dom: 'Brtip',
        serverSide: true,
        ajax: {
            url: '/process_datatable_callback',
            type: 'POST'
        },
        order: [], //disables sorted infication by first column
        columns: [
            {data: "nci_id", name: "NCI-ID", orderable: false},
            {data: "nct_id", name: "NCT-ID", orderable: false},
            {data: "phase.phase", name: "Phase", orderable: false},
            {data: "start_date", name: "Start Date", orderable: false},
            {data: "current_trial_status", name: "Status", orderable: false},
            {data: "official_title", name: "Official Title", orderable: false}
        ],
        aoColumnDefs: [{
            "aTargets": [0],
            "mData": "download_link",
            "mRender": function (data, type, full) {
                return '<a href="/display_trial/' + data + '">' + data + '</a>';
            }
        }],
        buttons: [
            {
                extend: 'copyHtml5'
            },
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });

    datatable.on('draw.dt', function () {
        $('#records_total').text(datatable.page.info()['recordsTotal']);
    });

    $('#jstree').jstree({
        core: {
            'check_callback': true,
            'data': [
                build_jstree_node('root', 'NCI Thesaurus Tree', undefined)
            ]
        },
        search: {
            'case_insensitive': true,
            'show_only_matches': true
        },
        plugins: ['contextmenu', 'dnd', 'search', 'sort',
            'state', 'types', 'wholerow'],

        contextmenu: get_jstree_context_menu(datatable)

    }).on('dblclick', '.jstree-anchor', function (e) {
        var tree = $.jstree.reference(this);
        var node = tree.get_node(this);
        if (tree.is_leaf(node)) {
            add_children(node, tree);
        } else {
            remove_children(node, tree);
        }

    }).on('click', '.jstree-anchor', function (e) {
        $('#jstree').jstree(true).toggle_node(e.target);
        var node = $('#jstree').jstree(true).get_node(this);
        select(node, dom, datatable)
    });

</script>

{% endblock %}
