{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block title %}
Clinical Trial Excursions
{% endblock %}

{% block content %}
<div class="container">
    <div id="content" class="jumbotron">
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                <span><span id="records_total" role="status" aria-live="polite">0</span> Trials found</span>
            </div>
            <div class="col-sm-5"></div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="form-group row">
                        <label for="dom" class="col-sm-1 col-form-label">Search</label>
                        <div class="col-sm-3 left">
                            <select id="dom" class="form-control">
                                <option id="disease" name="dom" value="disease" selected="selected">
                                    Disease (Neoplasm)
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4 left">
                            <input id="search_diseases" placeholder="Start typing a disease" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="search_tree" class="col-sm-4 right col-form-label">Filter tree:</label>
                                <div class="col-sm-8">
                                    <input id="search_tree" class="search-input form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br/>

                <div id="jstree"></div>
                <br/>
                <hr/>

                <table id="results" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>NCI&nbsp;ID</th>
                        <th>NCT&nbsp;ID</th>
                        <th>Phase</th>
                        <th>Start&nbsp;Date</th>
                        <th>Status</th>
                        <th>Official Title</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>NCI&nbsp;ID</th>
                        <th>NCT&nbsp;ID</th>
                        <th>Phase</th>
                        <th>Start&nbsp;Date</th>
                        <th>Status</th>
                        <th>Official Title</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block styles -%}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='jstree/dist/themes/default/style.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-bs/css/dataTables.bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-bs/css/dataTables.bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-buttons-dt/css/buttons.dataTables.min.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{url_for('bower.static', filename='datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='bootstrap3-typeahead/bootstrap3-typeahead.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='jstree/dist/jstree.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='jzip/jzip.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='pdfmake/build/pdfmake.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('bower.static', filename='pdfmake/build/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search_utils.js') }}"></script>
<script type="text/javascript">

    'use strict';

    var dom = 'disease'; // this should be the same as the initially selected dom

    $.getJSON('get_root_concept', {dom: dom}, function (root_concept) {
        var tree = $('#jstree').jstree(true);
        tree.settings.core.data = build_jstree_node(root_concept.code, root_concept.name, dom);
        tree.refresh();
    });

    var search_diseases_selector = $('#search_diseases');

    $('#dom').change(function () {
        dom = this.value;
        search_diseases_selector.attr("placeholder", "Start typing a " + dom);
        search_diseases_selector.focus();
        var tree = $('#jstree').jstree(true);
        $.getJSON('get_root_concept', {dom: dom}, function (root_concept) {
            tree.settings.core.data = build_jstree_node(root_concept.code, root_concept.name, dom);
            tree.refresh();
        })
    });

    var diseases_map = {};
    search_diseases_selector.typeahead({
        source: function (query, process) {
            return $.get('search_terminology', {dom: dom, q:query}, function (data) {
                var labels = [];
                $.each(data, function (i, row) {
                    diseases_map[row.name] = row;
                    labels.push(row.name);
                });
                return process(labels);
            });
        },
        updater: function (item) {
            update_tree(diseases_map[item].code, item);
        },
        items: 20
    });


    $('.search-input').keyup(function () {
        var searchString = $(this).val();
        $('#jstree').jstree('search', searchString);
    });


    var datatable = $('#results').DataTable({
        dom: 'lBrtip',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        serverSide: true,
        ajax: {
            url: '/process_datatable_callback',
            type: 'POST'
        },
        order: [], //disables sorted infication by first column
        columns: [
            {data: "nci_id", name: "NCI-ID", orderable: false},
            {data: "nct_id", name: "NCT-ID", orderable: false},
            {data: "phase.phase", name: "Phase", orderable: false},
            {data: "start_date", name: "Start Date", orderable: false},
            {data: "current_trial_status", name: "Status", orderable: false},
            {data: "official_title", name: "Official Title", orderable: false}
        ],
        aoColumnDefs: [{
            "aTargets": [0],
            "mData": "download_link",
            "mRender": function (data, type, full) {
                return '<a href="/display_trial/' + data + '">' + data + '</a>';
            }
        }],
        buttons: [
            {
                extend: 'copyHtml5'
            },
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });

    datatable.on('draw.dt', function () {
        $("#records_total").text(datatable.page.info()['recordsTotal']);
    });

    var jstree = build_jstree('#jstree');

</script>

{% endblock %}
